virtual_env/
VERTEBRAE_HEART_SCALES_ANNOTATIONS_MT.xlsx
.DS_Store
filtered_data/
filtered_data_png/
vertebrae-yolo-dataset/
filtered_data_png.zip
requirements.txt
labels/
data/
__pycache__/
logs/
.vscode/
Valid/
